.christmas-theme {
  --background-color: #FFFFFF;
  --background-color-dark: #E0E0E0;
  --text-color: #000000;
  --card-text-color: #000000;
  --primary-color: #DC3545;
  --secondary-color: #28A745;
}