.halloween-theme {
  --background-color: #000000;
  --background-color-dark: #FF7900;
  --text-color: #FFFFFF;
  --card-text-color: #000000;
  --primary-color: #000000;
  --secondary-color: #270050;
}
