@import url('./halloween.css');
@import url('./thanksgiving.css');
@import url('./christmas.css');
@import url('./newYears.css');

.default-theme {
  --background-color: #FFFFFF;
  --background-color-dark: #E2E2E2;
  --text-color: #000000;
  --card-text-color: #000000;
  --primary-color: #007BFF;
  --secondary-color: #6C757D;
}

.public-dashboard {
<<<<<<< HEAD
  background: linear-gradient(to bottom right, var(--background-color), var(--background-color-dark));
=======
  background: linear-gradient(to bottom right, var(--background-color),  var(--background-color-dark));
>>>>>>> 5cadd112bfd65e15252ed4da508d21eb8074ff0d
  color: var(--text-color);
}

.public-dashboard header {
  background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
  color: var(--text-color);
}

.public-dashboard h1,
.public-dashboard h2,
.public-dashboard p {
  color: var(--text-color);
}

.public-dashboard .bg-white h3,
.public-dashboard .bg-white p,
.public-dashboard .bg-white span {
  color: var(--card-text-color);
}

.public-dashboard .date-picker,
.public-dashboard .today-button {
  background-color: white;
  color: black;
}

.public-dashboard .refresh-button,
.public-dashboard .admin-button {
  background-color: white;
  color: var(--primary-color);
}
